{% include 'nav.html' %}
<div class="main">
{% block content %}
    
	<div class="text-center">
			<div class="panel panel-primary" style="width: 38rem;">
		<form action="{{url_for('deleteWatchCategory',w1xid=w1x.id)}}" method="POST">
			<div class="panel-body">
				<h3 style="color:Darkgreen;">Are you sure you want to delete {{w1x.name}}</h3>
			</div>
			<div class="card-footer d-flex justify-content-center">
				<input type="submit" class="btn btn-danger" value="Delete" style="margin-right: 10px;background-color:#ff0000;">
			    <button type="button" class="btn btn-warning" value="Cancel" style="margin-right:10px;background-color:#ff8c1a;"><a href="/home">Cancel</a></button>
			</div>
			
		</form>
	</div>
		</div>
		
	</div>
	{% endblock content %}