{% include 'nav.html' %}
<div class="main">
{% block content %}
	<div class="">
			<div class="text-center">
				<div class="panel panel-primary" style="width: 38rem;">
					<form action="{{url_for('deleteWatch',w1xid=w1xid,w1xename=watchdetails.modelname)}}" method="POST">
						<div class="panel-body">
							<h3 style="color: Darkgreen;">Are you sure you want to delete {{watchdetails.modelname}}</h3>
						</div>
						<div class="panel-footer text-center">
							<input type="submit" class="btn btn-danger" value="Delete" style="margin-right: 10px;background-color:#ff0000;">
						    <button type="button" class="btn btn-warning" value="Cancel" style="background-color:#ff8c1a;margin-right:10px;">
							<a href="{{url_for('showWatches',w1xid=w1xid)}}">CANCEL</a></button>
						</div>
						
					</form>
				</div>
			</div>
	</div>
{% endblock content %}	
</div>
